{% extends 'user/main_nav.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Home{% endblock %}
{% block main %}
<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static 'img/crl1.png' %}"  class="w-100 mt-5" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{% static 'img/crl2.jpg' %}"  class="w-100 mt-5" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{% static 'img/crl3.png' %}"  class="w-100 mt-5" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div class="container">
    <h1>Popular Groups</h1>
</div>
  <div class="container">
    <h1>Featuring Groups</h1>
    
  </div>
{% endblock %}